<div>
    <!--左侧导航栏-->
    <div>
        <i ng-if="false" class="fa fa-angle-double-right" ng-click="graph.overallData['leftBarShow']=true" style="color: #808080;cursor: pointer;font-size: 30px; position: absolute; top: {{overallData['screen']['height']/2-30}}px; left: 2px"></i>
        <div ng-show="true" class="graphLeftBar"  style="position: fixed; left: 0; top: 0; bottom: 0;background: #2a536d; z-index: 10">
            <i ng-if="" class="fa fa-angle-double-left" ng-click="graph.overallData['leftBarShow']=false" style="cursor: pointer;color: white; font-size: 30px; position: absolute; top: {{overallData['screen']['height']/2-30}}px; right: 2px"></i>

            <!--外事图片logo-->
            <div style="position: relative; z-index: 10; margin: 10px;width: 170px">
                <img style="width: 40px; height: 40px;" src="/assets/img/overall/bg_top.png">
                <span style="color: white; margin-left: 5px">外事知识图谱</span>
            </div>

            <!--左侧导航栏菜单页面菜单-->
            <div ng-click="switchPath('graph/news')" style="color: white; width: 100%; height: 45px;margin-top: 40px; padding: 12px 0 0 45px; cursor: pointer; " class="leftMenu">知识图谱</div>
            <div style="color: white; width: 100%; height: 45px;padding: 12px 0 0 45px;cursor: pointer;background: #4784ab;" class="leftMenu">关系分析</div>
            <!--<div ng-click="switchPath('edit/add')" style="color: white; width: 100%; height: 45px;padding: 12px 0 0 45px;cursor: pointer" class="leftMenu">数据编辑</div>-->
        </div>
    </div>

    <!--右侧highcharts各种统计图库等-->
    <div>
        <div style="margin: 20px 0 0 200px">
            <div>
                <!--广外外事出访数据分析-->
                <visit-general-list-html ng-if="analyse.analyseData['visit_general_list']['status']"></visit-general-list-html>

                <!--校级接待-->
                <school-level-reception ng-if="analyse.analyseData['school_level_reception']['status']"></school-level-reception>

                <!--各学院涉外活动报批-->
                <dept-activity-apply ng-if="analyse.analyseData['dept_activity_apply']['status']"></dept-activity-apply>

                <!--广外短期放学外事专家数据分析-->
                <expert-short-visit-html ng-if="analyse.analyseData['expert_short_visit']['status']"></expert-short-visit-html>

                <!--广外长期外教专家数据图表-->
                <expert-long-visit-html ng-if="analyse.analyseData['expert_long_visit']['status']"></expert-long-visit-html>

                <!--广外出国境学生数据图表-->
                <exchange-student ng-if="analyse.analyseData['exchange_student_list']['status']"></exchange-student>

                <!--广外与各国签署合作协议-->
                <agreements ng-if="analyse.analyseData['agreements']['status']"></agreements>

                <!--公派回国人员-->
                <abroad-back-people ng-if="analyse.analyseData['abroad_back_people']['status']"></abroad-back-people>
            </div>
        </div>

    </div>

</div>
