<!--来访事件新闻数据展开合并控制-->
<div style="padding: 10px; background: whitesmoke; cursor: pointer; border: 1px solid gainsboro;border-width: 1px 0 0 0"
     ng-click="graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['status']=!graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['status']">
    <div style="display: inline-block">新闻详情</div>
    <i style="font-size: 24px; position: relative; top: 4px; left: 5px; color: grey"
       ng-class="{'fa fa-caret-down':graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['status'], 'fa fa-caret-left':!graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['status']}" ></i>
    <span ng-click="graph.getNewsOriginInfo($event)" style="color: #2a526d; font-size: 16px; margin-left: 30px">访问原文</span>
</div>
<!--事件新闻数据展示-->
<div ng-if="graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['status']" ng-bind-html="graph.nodeLinkSelectedData['visit_event_in']['info']['detail']['news']" style="border: 1px solid gainsboro;border-width: 0 0 1px 0 ; padding: 0 20px; line-height: 150%; letter-spacing: 1px;"></div>


<!--出访事件新闻数据展开合并控制-->
<div style="padding: 10px; background: whitesmoke; cursor: pointer; border: 1px solid gainsboro;border-width: 1px 0 0 0"
     ng-click="graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['status']=!graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['status']">
    <div style="display: inline-block">新闻详情</div>
    <i style="font-size: 24px; position: relative; top: 4px; left: 5px; color: grey"
       ng-class="{'fa fa-caret-down':graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['status'], 'fa fa-caret-left':!graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['status']}" ></i>
    <span ng-click="graph.getNewsOriginInfo($event)" style="color: #2a526d; font-size: 16px; margin-left: 30px">访问原文</span>
</div>
<!--事件新闻数据展示-->
<div ng-if="graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['status']" ng-bind-html="graph.nodeLinkSelectedData['visit_event_out']['info']['detail']['news']" style="border: 1px solid gainsboro;border-width: 0 0 1px 0 ; padding: 0 20px; line-height: 150%; letter-spacing: 1px;"></div>


<!--底部占位符-->
<div style="width: 100%; height: 30px"></div>